# Creating data Structures

## Imports

In [8]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
np.__version__

'1.26.1'

In [10]:
matplotlib.__version__

'3.8.1'

In [ ]:
pd.__version__

In [14]:
ser_data = np.array([0,1,2,3,4])
print(ser_data)

[0 1 2 3 4]

In [16]:
pd_series = pd.Series(ser_data)

In [ ]:
pd_series["three"] = 3.333333333

In [18]:
print(pd_series)

0    0
1    1
2    2
3    3
4    4
dtype: int64

## Building from a dictionary

In [20]:
cars = {
    "BMW": 54,
    "VW":34,
    "Ford":61
}

In [21]:
car_series = pd.Series(cars)

In [22]:
print(car_series)

BMW     54
VW      34
Ford    61
dtype: int64

## Dataframes

In [24]:
people = {
    "name": ["bob", "sue", "fred", "sam"],
    "age": [12,17,18,17],
    "height": [1.23, 1.43, 4.0, 1.0],
    "happy": [False, True, False, True]
}
df_people = pd.DataFrame(people)
print(df_people)

   name  age  height  happy
0   bob   12    1.23  False
1   sue   17    1.43   True
2  fred   18    4.00  False
3   sam   17    1.00   True

In [25]:
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
 2   height  4 non-null      float64
 3   happy   4 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 228.0+ bytes

In [26]:
print(df_people.age)

0    12
1    17
2    18
3    17
Name: age, dtype: int64

# Saving Data

In [27]:
df_people.to_csv("people.csv")

## Reading Data

In [28]:
df_new = pdf.read_csv("people.csv")
df_new

NameError: name 'pdf' is not defined